{% extends "head.html" %}
{% load static %}
{% block title %}Download - Viva Mobile{% endblock %}
{% block activeDownload %}active{% endblock %}
{% block body %}
    <!-- Call to action section-->
    <section class="cta">
        <div class="cta-content">
            <div class="container px-5">
                <h2 class="text-white display-1 lh-1 mb-4">
                    Stop waiting.
                    <br />
                    Download our app.
                </h2>
                <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="https://medium.com/discourse/is-big-tech-using-data-laundering-to-cheat-artists-ccf1a8c87b91" target="_blank">Download for free</a>
            </div>
        </div>
    </section>
{% endblock %}